<div class="col-lg-10 ms-auto mt-3 pt-5">
  <table id="example" class="table text-dark" style="width:100%">
    <thead class="text-warning">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Rooms</th>
        <th>Price</th>
        <th>Offer Price</th>
        <th>Image</th>
      
      </tr>
    </thead>
    <tbody>
      {{#each rooms}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.rooms.category}}</td>
        <td>{{this.rooms.qty}}</td>
        <td>{{this.rooms.actualPrice}}</td>
        <td>{{this.rooms.price}}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModal1{{this.rooms.roomId}}">
            View Images
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal1{{this.rooms.roomId}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title text-secondary" id="exampleModalLabel">Slide to see more images</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body1">

                  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      {{#each this.rooms.images}}
                      {{#if @first}}
                      <div class="carousel-item active" data-interval="10000">
                        <img src="data:{{this.contentType}};base64,{{this.imageBase64}}" class="d-block w-100"
                          alt="Room images" />
                      </div>
                      {{else}}
                      <div class="carousel-item">
                        <img src="data:{{this.contentType}};base64,{{this.imageBase64}}" class="d-block w-100"
                          alt="Room images" />
                      </div>
                      {{/if}}
                      {{/each}}


                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </td>
       
      </tr>
      {{/each}}

    </tbody>
    {{! <tfoot class="text-warning">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Id</th>
        <th>Status</th>
        <th>Block</th>
      </tr>
    </tfoot> }}
  </table>
</div>