<div class="col-lg-10 ms-auto pt-5">
  <table id="example" class="table text-white" style="width:100%">
    <thead class="text-warning">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Id</th>
        <th>Delete</th>
        <th>Block/Unblock</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.number}}
        </td>
        <td>
          <!-- Button trigger modal -->
          <!-- Button trigger modal -->

        </td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
        <td>
          {{#if this.isBlocked}}<button type="button" class="btn btn-success"  onclick="unblockUser('{{this._id}}');" id="{{this._id}}">Unblock</button>
        {{else}}  <button type="button" class="btn btn-danger"  onclick="blockUser('{{this._id}}');" id="{{this._id}}">Block</button>{{/if}}
          
        </td>
      </tr>
      {{/each}}

                                    </li>

    </tbody>
    {{!-- <tfoot class="text-warning">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Id</th>
        <th>Status</th>
        <th>Block</th>
      </tr>
    </tfoot> --}}
  </table>
</div>

<script>



</script>