<div class="container-fluid vh-100 col-lg-9">
    <div class="" style="margin-top:50px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 col-lg-6 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-dark">Edit Room </h3>
                </div>
                <div class="p-4">
                    <form action="/vendor/editRooms?id={{room.0.rooms.roomId}}" method="post" id="editRooms"
                        enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <span class="input-group-text  register-form"><i
                                    class="fa-solid fa-indian-rupee-sign text-white"></i></span>
                            <input type="text" class="form-control" placeholder="Price" name="price"
                                value="{{room.0.rooms.price}}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text  register-form"><i
                                    class="fa-solid fa-indian-rupee-sign text-white"></i></span>
                            <input type="text" class="form-control" placeholder="Actual Price" name="actualPrice"
                                value="{{room.0.rooms.actualPrice}}">
                        </div>

                        <div class="input-group mb-3 select-option">
                            <select class="form-select" name="category" aria-label="Default select example">
                                <option>{{room.0.rooms.category}} </option>
                                <option value="Deluxe">Deluxe</option>
                                <option value="Single">Single</option>
                                <option value="Double">Double</option>
                                <option value="Suite">Suite</option>
                            </select>

                        </div>
                        <div class="input-group mb-3 select-option">
                            <input type="number" id="typeNumber" placeholder="Quantity" name="qty" class="form-control"
                                value="{{room.0.rooms.qty}}" />
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" name="ac" type="checkbox" {{#if
                                room.0.rooms.ameneties.ac}}checked{{/if}} id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Ac</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="wifi" type="checkbox" {{#if
                                room.0.rooms.ameneties.wifi}}checked{{/if}} id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Free Wifi</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="powerbackup" type="checkbox" {{#if
                                room.0.rooms.ameneties.powerbackup}}checked{{/if}} id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Power Backup</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="parking" type="checkbox" id="flexSwitchCheckDefault"
                                {{#if room.0.rooms.ameneties.parking}}checked{{/if}}>
                            <label class="form-check-label" for="flexSwitchCheckDefault">Parking</label>
                        </div>
                        <label for="file">Upload room images</label>
                        <div class="d-flex justify-content-around mb-2">{{#each rooms.0.rooms.images}} <span> <label
                                    for="file">Image 1</label><img
                                    src="data:{{this.contentType}};base64,{{this.imageBase64}}" width="100px"
                                    height="100px" id="imgView" alt="Image to edit"></span>{{/each}}</div>
                        <div class="input-group mb-3">

                            <span class="input-group-text register-form text-white"><i
                                    class="bi bi-card-text"></i></span>

                            <input type="file" id="file" name="file" class="form-control" placeholder="Number"
                                 onchange="viewImage(event)" multiple >
                        </div>



                        <div class="d-grid col-12 mx-auto">
                            <button class="btn btn-warning text-dark" type="submit"><span></span> Submit </button>
                        </div>

                </div>
                {{#if edited}}
                <div><span class="text-success">Edited</span></div>
                {{/if}}




                </form>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>
<script>

    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }

</script>