<div class="col-lg-10 ms-auto pt-5 mt-3 " style="background-color: #FFE8D2;height: 100%;">
  <table border="0" cellspacing="5" cellpadding="5">
    <tbody>
      <tr>
        <td>From:</td>
        <td><input type="text" id="min1" name="min1" placeholder="Please select a date"></td>

        <td>To:</td>
        <td><input type="text" id="max1" name="max1" placeholder="Please select a date"></td>

      </tr>
    </tbody>
  </table>


    <table id="sales" class="table text-dark" style="background-color: #FFE8D2;height: 100%;">
        <thead class="" style="color: #750404;">
            <tr>
                <th>Date</th>
                <th>Customer</th>
                <th>Room</th>
                
                <th>Payment Mode</th>
                <th>Sales</th>
                
               
            </tr>
        </thead>
        <tbody>
            {{#each sales}}
            <tr class="mt-2">
                <td>{{this._id.bookingDate}}</td>
                <td>{{this._id.name}}</td>
                <td>{{this._id.category}}</td>
                
                <td>{{this._id.paymentMode}}</td>
                <td>{{this.total}}</td>
                
            </tr>
            {{/each}}



        </tbody>

    </table>
</div>

<script>



</script>