<div class="col-lg-10 ms-auto pt-5" style="background-color: #FFE8D2;height: 100%;">
  <table id="example" class="table text-dark" style="width:100%;background-color: #FFE8D2">
    <thead class="" style="color: #750404;">
      <tr>
        <th>Customer</th>
        <th>Booking date</th>
        <th>Category</th>
        <th>check In</th>
        <th>Check out</th>
        <th>Bill Amount</th>
        <th>Booking Status</th>
        <th>Guest status</th>
      </tr>
    </thead>
    <tbody>
      {{#each bookingData}}
      <tr class="mt-2" >
        <td>{{this.name}}</td>
        <td>{{this.bookings.bookingDate}}</td>
        <td>{{this.bookings.category}}</td>
        <td>{{this.bookings.checkIn}}
        </td>
        <td>{{this.bookings.checkOut}}</td>
        <td>{{this.bookings.billAmt}}</td>
        <td>
          {{this.bookings.bookingStatus}}

        </td>
        {{#if this.bookings.isActive}}
        <td class="btn btn-outline-success disabled">Active</td>
        {{else}}{{#if this.bookings.canCancel}}
        <td class="btn btn-outline-dark ">Cancel</td>{{else}}{{#if this.bookings.checkedOut}}<td>Checked out</td>
        {{/if}}{{/if}}{{/if}}
      </tr>
      {{/each}}

      </li>

    </tbody>

  </table>
</div>

<script>



</script>