<!DOCTYPE html>
<html>

<head>

  <meta http-equiv='Cache-Control' , content='no-store, no-cache, must-revalidate'>
  <meta http-equiv='Pragma' , content='no-cache'>
  <metahttp-equiv='Expires', content='-1'>
    <title>{{title}}</title>

    <script src="https://kit.fontawesome.com/8c3e75cefb.js" crossorigin="anonymous"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    {{#if booked}}
     <link rel="stylesheet" href="/stylesheets/booked.css" type="text/css">
     {{else}}
     {{#if viewbookings}}
  <link rel="stylesheet" href="/stylesheets/bookings.css" type="text/css">
     {{else}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel="stylesheet" href="/stylesheets/roomsLists.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/vendor.css" type="text/css" />
    <link href="/stylesheets/main.css" rel="stylesheet" />
    {{/if}}{{/if}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />



</head>

<body>


  {{#if admin}}
  {{>admin-header}}
  {{else}}
  {{#if user}}
  {{>user-header}}
  {{else}}
  {{#if vendor}}
  {{>vendor-header}}
  {{else}}
  {{#if preventHeader}}

  {{else}}
  {{>user-header}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}

  {{#if searchbar}}
  {{>search-bar}}
  {{/if}}





  {{{body}}}



  <script src="/javascripts/choices.js"></script>
  <script src="/javascripts/flatpickr.js"></script>
  <script>
  

     
   







  </script>
  <script>

  </script>
  <script>
    const choices = new Choices('[data-trigger]',
      {
        searchEnabled: true,
        itemSelectText: '',
      });

  </script>


 
</body>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popper/javascipts/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

{{!--
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
--}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>





<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>





<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script src="/javascripts/Validation.js"></script>
<script src="/javascripts/roomDetails.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascipts/jquery-3.3.1.min.js"></script>

<script src="/javascipts/jquery.magnific-popup.min.js"></script>
<script src="/javascripts/jquery.nice-select.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascipts/jquery.slicknav.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/main.js"></script>
{{#if LocationSelector}}
<script src="/javascripts/vendordetails.js"></script>
{{else}}
<script src="/javascripts/roomSelecter.js"></script>
{{/if}}
<script src="/javascripts/datePicker.js"></script>
<script src="/javascripts/ajaxcheck.js"></script>



</html>